[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Tplyr"]
	path = Tplyr
	url = https://github.com/atorus-research/tplyr
[submodule "clinify"]
	path = clinify
	url = https://github.com/atorus-research/clinify
[submodule "datasetjson"]
	path = datasetjson
	url = https://github.com/atorus-research/datasetjson
[submodule "metacore"]
	path = metacore
	url = https://github.com/atorus-research/metacore
[submodule "pharmaRTF"]
	path = pharmaRTF
	url = https://github.com/atorus-research/pharmartf
[submodule "xportr"]
	path = xportr
	url = https://github.com/atorus-research/xportr
